header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background:#0284C9;
}
#search-field .block:not(:last-child){
    border-bottom: 1px grey solid;
}
#search-field .control, #search-city{
    width: 100%;
}
#weather-details{
    border: 1px grey solid;
    min-height: 300px;
    height: min-content;
}
#weekly-forecast .column{
    min-height: 150px;    
    background: #0284C9;
    font-size: 13px;
}
#forecast-info{
    color: white;
}
#no-city{
    
}